
    <div class="jumbotron">
        <h1>XYZ Inventory</h1>
        <p>
            <img src="~/Content/Inventory-vs-Stock.jpg"
                 alt="Inventory VS Stock"
                 style="float:right;width:50%;" />
        </p>
        <p class="lead">Affordable, Effective, Efficient</p>
        <p>Rated #1 in the midwest</p>
    </div>