
@{
    ViewBag.Title = "Confirmed Amount Of Stock";
}

<h2>Confirmed Amount Of Stock</h2>
<p>You have just added the following information to the stock database:</p>
<p>Name: @Model.nameOfItem</p>
<p>Department:  @Model.department</p>
<p>Number in Stock: @Model.numberInStock</p>